<html>
    <head>
        <title>Réservation véhicule électrique</title>
    </head>


    <body>
        <h1>Résultats du trajet</h1>
        <p>
            <h2>Informations générales</h2>
            La distance a parcourir est de {{distance}}km.<br>
            Le temps de voyage estimé est de {{duree}}h<br>
            <br>

			Le trajet devra se faire en {{nbr}} étapes.<br><br>
            Voici la liste des différentes bornes à utiliser : <br>
        </p>
       <h2>Bornes à utiliser</h2>     
       <form method="POST" action="/map">      
            {% for bornes in borne %}
                Emplacement :  <strong>{{bornes}}</strong> <br>
            {% endfor %}
            
            <p>Vous pouvez afficher les bornes à utiliser sur une carte :  <button type="submit">Visualiser</button></p>
            
        </form>
        <form action="/">      
            <button type="submit">Retour</button>
        </form>
    </body>
</html>